
.flight-search-wrap{
  padding-top: 2rem;
}
.flight-search-wrap input {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  height: 4rem;
}
.srch-btn{
background-color: grey;
padding: 1rem;
}
.trip-tabs{
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid black;
}
.trip-tabs .selected{
  background-color: grey;
  opacity: .2;
}

.trip-tabs div{
  border-right: 1px solid black;
  cursor:pointer;
}
.trip-tabs div:hover{
  background-color: grey;
}
.trip-tabs div:nth-child(2){
  border-right: none
}
